body {
font-family: Arial;
background: #f4f6f8;
}


h2 {
text-align: center;
}


table {
width: 80%;
margin: auto;
border-collapse: collapse;
}


th, td {
border: 1px solid #ccc;
padding: 10px;
}


form {
width: 40%;
margin: auto;
}


input, button {
width: 100%;
padding: 8px;
margin: 6px 0;
}